@model WebEditor.Models.Entities.File
@{
    ViewBag.Title = "EditFile";
}

<h2>FileName: @Model.fileName</h2>

<style type="text/css" media="screen">
	#editor {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 80em;
		height: 100em;
	}
</style>

<div id="editor">@Model.content</div>

<script src="../../src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	window.onload = function() {
		var editor = ace.edit("editor");
	};
</script>