@model WebEditor.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "ProjectList";
}


<h2>Your Projects</h2>
<ul>
        @foreach (var project in Model.projects)
        {
            <li>
                @project.name
                <ul>
                    @foreach (var file in project.files)
                    {
                        <li>@Html.ActionLink(@file.fileName, "EditFile", "Project", new { id = file.fileID }, null)</li>
                    }
                </ul>
            </li>
        }
</ul>