@model WebEditor.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h2>Work on your code with friends!</h2>
<hr />
@{
   <div>
       <p>We have the tool you need for you to work on your projects and code with friends where you can see changes made by others in realtime!</p>
       <br />
       <p>We can keep track of all your projects and files.</p>
       <br />
       <p>It's really easy to control who can work on your projects with you!</p>

   </div>
}
